<%- include('./encabez')-%>

    <style>
        .table td, .table th {
            vertical-align: middle;
        }
        h1 {
            color: blue;
        }
        hr {
            background-color: #ddd;
        }
        .jumbotron {
            min-height: 100vh;
        }
    </style>
    <body>
        <h1>Vista de Productos</h1>
        <div class="table-responsive">
            <table class="table table-dark">
                <tr style="color: yellow;">
                    <th>Title</th>
                    <th>Price</th>
                    <th>Thumbnail</th>
                </tr>
                <% if (prod.length > 0 ){%>   
                <%prod.forEach(function(prod) {%>
                    <tr>
                        <td>
                            <%=prod.title%>
                        </td>
                        <td>
                            <%=prod.price%>
                        </td>
                        <td>
                            <img width="50" src= <%=prod.thumbnail %> alt="not found">
                        </td>
                    </tr>
                    <%});%>
                <% }else{%>
                    <h3 class="alert alert-danger">no se encontraron datos</h1>
                <%}%>
            </table>
        </div>
    </body>

    </html>