<div class="table-responsive">
    <table class="table table-dark">
        <tr style="color: yellow;">
            <th>Title</th>
            <th>Price</th>
            <th>Thumbnail</th>
        </tr>
        <%prod.forEach(function(prod) {%>
            <tr>
                <td>
                    <%=prod.title%>
                </td>
                <td>
                    <%=prod.price%>
                </td>
                <td>
                    <%=prod.thumbnail%>
                </td>
            </tr>
            <%});%>
    </table>

    <h3 class="alert alert-danger">no se encontraron datos</h1>

</div>